body {
  font-family: 'Ubuntu', sans-serif;
}

img, video, canvas {
  max-width: 100%;
}

.hamburger {
  position: fixed;
  top: 0;
  right: 0;
  margin: 2%;
}

.navigate {
  display: none;
}

.projects {
  background-color: #00ffbf;
  margin: 4%;
  text-align: center;
  height: 100px;
}

.projects:hover {
  background-color: #00b38f;
}

.about {
  background-color: #ccb3ff;
  margin: 4%;
  text-align: center;
  height: 200px;
}

.about:hover {
  background-color: #b366ff;
}

.contact {
  background-color: #ffcc99;
  margin: 4%;
  text-align: center;
  height: 200px;
}

.contact:hover {
  background-color: #ffb366;
}

.articleTemplate {
  display: none;
}

.image {
  display: none;
}

.image:hover {
  display: block;
}

#main-header {
  background-color: #00ffbf;
  opacity: 0.5;
}

#main-header li {
  display: inline;
}
.hide-initial {
  display: none;
}

@media screen and (min-width: 450px), handheld and (orientation: landscape) {
  .hamburger {
    display: none;
  }

  .navigate {
    display: block;
    float: right;
  }
}
