#treehouseStats h3 {
  display: inline;
  margin-right: 10px;
}

#treehouseStats p {
  font-size: 1.25em;
}

#treehouseStats a {
  font-size: 1.5em;
}

#interests {
  background-color: #ff9999;
}

#interests:hover {
  background-color: #ffb3b3;
}

#interests h2 {
  display: inline-block;
  margin-bottom: 40px;
  margin-right: 40px;
  width: 50%;
}

#interests select {
  -webkit-appearance: menulist-button;
  padding-bottom: 50px;
  height: 40px;
  line-height: 40px;
  width: 200px;
  top: 0px;
}
