.about-div {
  margin: 1%;
  padding: 20px;
  text-align: left;
  border-radius: 7px;
}

.main-page-div {
  margin: 1%;
  padding: 20px;
  text-align: left;
  border-radius: 7px;
}

.container {
  width: 100%;
}

.header-color {
  background-color: darkseagreen;
}

.bacon {
  width: 200px;
  height: 200px;
}

.my-button {
  background-color: transparent;
  color: black;
  font-size: 1.25em;
  background-color: #d9d9d9;
}

.my-button:hover {
  background-color: gray;
}

.header-nav li {
  display: inline;
  margin-right: 7px;
  font-size: 2.5 em;
}

.header-nav a {
  font-size: 1em;
}

.navigate {
  display: block;
}

.homeNav {
  color: saddlebrown;
}

.main-div-color {
  background-color: darkseagreen;
}

.main-div-color a {
  color: saddlebrown;
}

.main-div-color a:hover {
  color: #23527c;
}

.description {
  margin-bottom: 10px;
}

#navBar {
  text-align: center;
  list-style-type: circle;
}

#navBar li {
  list-style: circle;
}


#about p {
  font-size: 1.5 em;
}

#contact li {
  display: inline;
  font-size: 1.5 em;
  margin: 10px;
}

#aboutContact div {
  min-height: 170px;
  margin: 2%;
  text-align: left;
}

#top {
  /* flex: 1; would be enough but it looks bad in IE */
  flex: 1 0 auto;
}

@media screen and (min-width: 450px), handheld and (orientation: landscape) {

  .navigate {
    display: inline;
  }

  .header-name {
    width: 35%;
    margin-right: 0;
    float: left;
  }

  .header-name h1 {
    width: 100%;
    margin-right: 0px;
    font-size: 3em;
  }

  .header-nav {
    display: inline;
    width: 65%;
    margin-left: 0;
    margin-top: 40px;
    float: right;
  }

  .header-nav li {
    display: inline;
    margin-right: 15px;
  }

  .header-nav a {
    font-size: 1.25em;
  }

}
