body {
  font-family: 'Ubuntu', sans-serif;
  /*background-color: #e6f2ff;*/
  /*background-color: #d0d0e2;*/
  background-color: gainsboro;
  font-size: 1.7rem;
}

nav ul {
  list-style-type: circle;
}

nav li {
  font-family: 'Ubuntu', sans-serif;
  display: list-item;
}

img, video, canvas {
  max-width: 100%;
}

img {
  height: 50px;
  width: 50px;
}

h1, h2, h3, h4, button {
  font-family: 'Raleway', sans-serif;
}

footer {
  background-color: lightgray;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-top: 20px;
}

footer a {
  float: right;
  margin-right: 5%;
}
