.about-div {
  margin: 1%;
  padding: 20px;
  text-align: left;
  border-radius: 7px;
}

.main-page-div {
  margin: 1%;
  padding: 20px;
  text-align: left;
  border-radius: 7px;
}

.container {
  width: 100%;
}

.header-color {
  background-color: lightslategray;
}

.favorites {
  margin-bottom: 15px;
  margin-top: 15px;
  padding-bottom: 10px;
}

.favorites address {
  margin-bottom: 5px;
}

.fav-description {
  margin-top: 5px;
  padding-top: 5px;
}

.hamburger {
  position: fixed;
  top: 0;
  right: 0;
  margin: 2%;
}

.bacon {
  width: 200px;
  height: 200px;
}

.my-button {
  background-color: transparent;
  color: black;
  font-size: 1.25em;
  background-color: #d9d9d9;
}

.my-button:hover {
  background-color: gray;
}

.header-nav li {
  display: inline;
  margin-right: 7px;
  font-size: 2.5 em;
}

.header-nav a {
  font-size: 1em;
}

.navigate {
  display: block;
}

.homeNav {
  color: royalblue;
}

#navBar {
  text-align: center;
  list-style-type: circle;
}

#navBar li {
  list-style: circle;
}

#about {
  background-color: #ffcc99;
}

#about p {
  font-size: 1.5 em;
}

#contact {
  background-color: #ffcc99;
}

#contact li {
  display: inline;
  font-size: 1.5 em;
  margin: 10px;
}

#aboutContact div {
  min-height: 170px;
  margin: 2%;
  /*padding: 5px;*/
  text-align: left;
}

#projects {
  background-color: #00e6b8;
}

#hobbies {
  background-color: #ffdd99;
}

@media screen and (min-width: 450px), handheld and (orientation: landscape) {

  .navigate {
    display: inline;
  }

  .header-name {
    width: 35%;
    margin-right: 0;
    float: left;
  }

  .header-name h1 {
    width: 100%;
    margin-right: 0px;
    font-size: 3em;
  }

  .header-nav {
    display: inline;
    width: 65%;
    margin-left: 0;
    margin-top: 40px;
    float: right;
  }

  .header-nav li {
    display: inline;
    margin-right: 15px;
  }

  .header-nav a {
    font-size: 1.25em;
  }

}
